<% if (user) { %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/admin/dashboard">
          <i class="fas fa-plane-departure me-2"></i>Travel Agency Admin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="packagesDropdown" role="button" data-bs-toggle="dropdown">
                Packages
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/packages?category=all">All Packages</a></li>
                <li><a class="dropdown-item" href="/admin/packages?category=international">International</a></li>
                <li><a class="dropdown-item" href="/admin/packages?category=local">Domestic</a></li>
                <li><a class="dropdown-item" href="/admin/packages?category=fixedDeparture">Fixed Departure</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/packages/create">Add New Package</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle me-1"></i> <%= user.username %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% } %>
  
    <div class="container mt-4">
      <!-- Flash Messages -->
      <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show">
          <%= success_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% } %>
      
      <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show">
          <%= error_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% } %>
      
      <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show">
          <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% } %>
    </div>